/* ================================== min-width 1140px ================================== */
/* ================================== min-width 992px =================================== */
@media (min-width: 992px) and (max-width: 1140px) {

}
/* ================================== min-width 768px and max-width 992px ===============*/
@media (min-width: 768px) and (max-width: 992px) {
  body.logged-in.woocommerce-account .woocommerce-MyAccount-navigation .box-my-cart .list-items-cart table.shop_table.list-cart .product-name {
    width: 83%;
  }
  header {
    padding: 10px 0 10px;
  }
  .page.home .tab-products .tab-content .tab-pane .product-item .col-content, .page.home .tab-products .tab-content .tab-pane .product-item .col-price {
    width: 100%;
  }
  body .page.home {
    .tab-products .tab-content {
      .product.product_cat-windows {
        display: block;
        .float-left.col-price {
          margin-left: 0;
        }
        .float-left.col-content {
          width: 82%;
        }
      }
    }
  }
}
/*  ================================  min-width 640px and max-width 768px =====================================*/
@media (min-width: 640px) and (max-width: 768px) {
  body.logged-in.woocommerce-account .woocommerce-MyAccount-navigation .box-my-cart .list-items-cart table.shop_table.list-cart .product-name {
    width: 83%;
  }
  body.logged-in.woocommerce-account.woocommerce-edit-account .woocommerce-MyAccount-content .woocommerce-EditAccountForm p {
    width: 100%;
  }
  header {
    padding: 10px 0 10px;
  }
  .page.home .tab-products .tab-content .tab-pane .product-item .col-content, .page.home .tab-products .tab-content .tab-pane .product-item .col-price {
    width: 100%;
    padding-right: 26px;
  }
  body .page.home {
    .tab-products .tab-content {
      .product.product_cat-windows {
        display: block;
        .float-left.col-price {
          margin-left: 0;
        }
        .float-left.col-content {
          width: 82%;
        }
      }
    }
  }
  .single-product.woocommerce-page .page-content .rate .col-md-6 {
    .star {
      margin: 0;
    }
    span {
      text-align: left;
    }
  }
  .single-product.woocommerce-page .page-content .technical .box-item {
    height: auto;
    margin-bottom: 40px;
  }
  .single-product.woocommerce-page .page-content .technical .more_info {
    margin-top: 0;
  }
  .woocommerce-cart.woocommerce-page {
    .woocommerce {
      table.shop_table {
        td {
          border-top: 0;
        }
        .product-thumbnail, .product-name, .product-remove {
          display: table-cell !important;
          text-align: left !important;
          background: #fff;
          img {
            position: relative;
            z-index: 99;
          }
        }
        .product-remove {
          float: right;
          top: 0;
          position: absolute;
          right: 0;
          padding-right: 50px;
          padding-top: 70px;
        }
        .product-price {
          display: table;
          padding-left: 100px;
          width: auto;
          float: left;
          padding-top: 21px;
          .woocommerce-Price-amount {
            padding-right: 10px;
          }
        }
        .product-quantity, .product-subtotal {
          display: table-cell;
          width: auto;
          background: #fff;
        }
        .product-quantity, .product-subtotal, .product-price {
          position: relative;
          top: -40px;
          background: #fff;
        }
        .product-name {
          display: inline-block;
          background: #fff;
        }
        .actions {
          background: transparent;
          .total_price {
            float: none;
            margin-left: auto;
          }
          .coupon {
            button {
              margin-top: 15px;
              float: left;
            }
          }
        }
      }
    }
  }

  /* contact page */
  .page-contact .wpcf7 .wpcf7-form [class^="col-md-"], section.page-contact .wpcf7 .wpcf7-form p:first-of-type {
    padding: 0;
  }
}

/* ================================== min-width 0 and max-width 768px ====================== */
@media (min-width: 0) and (max-width: 640px) {
  body.logged-in.woocommerce-account .woocommerce-MyAccount-navigation .box-my-cart .list-items-cart table.shop_table.list-cart .product-name {
    width: 83%;
  }
  body.logged-in.woocommerce-account.woocommerce-edit-account .woocommerce-MyAccount-content .woocommerce-EditAccountForm p {
    width: 100%;
  }
  /* contact page */
  .page-contact .wpcf7 .wpcf7-form [class^="col-md-"], section.page-contact .wpcf7 .wpcf7-form p:first-of-type {
    padding: 0;
  }
  .d-none-640 {
    display: none !important;
  }
  .d-block-640 {
    display: block !important;
  }
  header {
    padding: 10px 0 10px;
    .menu-main {
      margin: 0;
    }
  }
  .page.home .tab-products .tab-content .tab-pane .product-item .col-content, .page.home .tab-products .tab-content .tab-pane .product-item .col-price {
    width: 100%;
    padding-right: 26px;
  }
  .page.home {
    .banner {
      height: 600px;
      .container {
        .row {
          top: 55%;
        }
      }
    }
  }
  body .page.home {
    .tab-products .tab-content {
      .product.product_cat-windows {
        display: block;
        .float-left.col-price {
          margin-left: 0;
        }
      }
    }
  }
  .woocommerce-cart.woocommerce-page {
    .woocommerce {
      table.shop_table {
        td {
          border-top: 0;
        }
        .product-thumbnail, .product-name, .product-remove {
          display: table-cell !important;
          text-align: left !important;
          background: #fff;
          img {
            position: relative;
            z-index: 99;
          }
        }
        .product-remove {
          float: right;
          top: 0;
          position: absolute;
          right: 0;
          padding-right: 50px;
          padding-top: 70px;
        }
        .product-price {
          display: table;
          padding-left: 100px;
          width: auto;
          float: left;
          padding-top: 21px;
          .woocommerce-Price-amount {
            padding-right: 10px;
          }
        }
        .product-quantity, .product-subtotal {
          display: table-cell;
          width: auto;
          background: #fff;
        }
        .product-quantity, .product-subtotal, .product-price {
          position: relative;
          top: -40px;
          background: #fff;
        }
        .product-name {
          display: inline-block;
          background: #fff;
        }
        .actions {
          background: transparent;
          .total_price {
            float: none;
            margin-left: auto;
          }
          .coupon {
            button {
              margin-top: 15px;
              float: left;
            }
          }
        }
      }
    }
  }
}
