body {
  position: relative;
  .btn-nod32 {
    padding: 13px 32px;
    border-radius: 25px;
    background-color: #8DC63F;
    color: #FEFEFE;
    font-family: 'Helvetica', sans-serif;
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
  }
  .tab-content {
    button.btn-nod32 {
      padding: 7px 34px;
      font-size: 15px;
      line-height: 18px;
      color: #fff;
    }
    span.woocommerce-Price-amount {
      font-size: 18px;
      font-weight: bold;
      line-height: 22px;
      margin-bottom: 15px;
      display: block;
      color: #000;
    }
  }
}