body {
  position: relative;
  font-family: Helvetica;
  a:hover {
    text-decoration: none;
  }
  .group-btn {
    button.button, a.button, a.button.alt {
      border: 1px solid #979797;
      border-radius: 25px;
      color: #637381;
      font-family: Helvetica;
      font-size: 15px;
      line-height: 18px;
      text-align: center;
      text-transform: uppercase;
      background: transparent;
      font-weight: normal;
      padding: 8px 45px;
      &:hover {
        color: inherit;
        background: transparent;
      }
      &.btn-green {
        background-color: #8DC63F;
        color: #fff !important;
        border: 1px solid #8DC63F;
      }
    }
    button.button {
      background-color: #8DC63F;
      color: #fff;
      border: 1px solid #8DC63F;
    }
  }
  /* remove outline button */
  button {
    outline: none;
    &:focus {
      outline: none;
    }
  }
  .btn-nod32 {
    padding: 13px 32px;
    border-radius: 25px;
    background-color: #8DC63F;
    color: #FEFEFE;
    font-family: 'Helvetica', sans-serif;
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
  }
  /* product at homepage */
  .tab-content {
    button.btn-nod32 {
      padding: 7px 34px;
      font-size: 15px;
      line-height: 18px;
      color: #fff;
    }
    span.woocommerce-Price-amount {
      font-size: 18px;
      font-weight: bold;
      line-height: 22px;
      margin-bottom: 15px;
      display: block;
      color: #000;
    }
    .product.product_cat-windows {
      padding: 0;
      display: flex;
      border-radius: 8px;
      background-color: #FFFFFF;
      box-shadow: 0 1px 25px 0 rgba(0,0,0,0.15);
      margin-bottom: 30px;
      overflow: hidden;
      .float-left {
        padding-top: 12px;
        padding-bottom: 16px;
        &:last-of-type {
          margin-bottom: 0;
        }
        &.col-img {
          padding-left: 26px;
          margin-right: 0 !important;
          width: 144px;
          text-align: center;
          a {
            color: #008BA0;
            font-family: Helvetica;
            font-size: 13px;
            line-height: 16px;
          }
        }
        &.col-content{
          padding: 12px 15px 16px 21px;
          width: 570px;
          h4 {
            color: #008BA0;
            font-family: Helvetica;
            font-size: 20px;
            font-weight: bold;
            line-height: 24px;
          }
          p {
            color: #637381;
            font-family: Helvetica;
            font-size: 16px;
            line-height: 24px;
          }
        }
        &.col-price {
          background-color: #F4F6F8;
          margin-left: 22px;
          width: 400px;
          font-family: Helvetica;
          div {
            float: left;
            width: 50%;
            text-align: center;
          }
          p {
            font-size: 15px;
            line-height: 18px;
            margin-bottom: 38px;
            margin-top: 18px;
          }
          strong {
            font-size: 18px;
            font-weight: bold;
            line-height: 22px;
            margin-bottom: 15px;
            display: block;
          }
          a.btn-nod32 {
            padding: 7px 34px;
            font-size: 15px;
            line-height: 18px;
            color: #fff;
          }
          a {
            display: table;
            margin: 15px auto 0;
            font-size: 15px;
            line-height: 18px;
            color: #008BA0;
          }
        }
      }
    }
  }

  /* breadcrumb */
  .bread-crumb, .nav-breadcrumbs {
    padding: 12px 0 16px;
    background-color: #D1E8EF;
    .woocommerce-breadcrumb {
      margin-bottom: 0;
      color: #637381;
      font-family: Helvetica;
      font-size: 17px;
      line-height: 20px;
      display: flex;
      align-items: flex-end;
      padding: 0 15px;
      a:first-of-type {
        font-size: 0;
        line-height: 0;
        height: 22px;
        width: 21px;
        margin-right: 12px;
        padding: 0;
        position: relative;
        top: -2px;
        &:before {
          content: '\f015';
          font: normal normal normal 14px/1 FontAwesome;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          font-size: 23px;
          color: #008BA0;
        }
      }
      a {
        float: left;
        color: #008BA0;
        font-family: Helvetica;
        font-size: 17px;
        line-height: 20px;
        padding-left: 12px;
        padding-right: 12px;
      }
    }
  }
  .nav-breadcrumbs .woocommerce-breadcrumb {
    padding: 0;
  }
  .full-container {
    width: 100%;
    left: 0;
    position: absolute;
  }
  /* style for woocommerce */
  .woocommerce, &.page-template, &.page-template-default {
    width: 100%;
    /* table cart */
    table.shop_table {
      th {
        color: #637381;
        font-family: Helvetica;
        font-size: 14px;
        line-height: 20px;
        font-weight: normal;
      }
      tr {
        border: 1px solid #DFE3E8;
        box-sizing: border-box;
        position: relative;
      }
      td, th {
        padding: 16px 0 16px 25px;
        &.product-thumbnail {
          width: 73px;
        }
      }
      .product-name {
        a {
          color: #008BA0;
          font-family: Helvetica;
          font-size: 18px;
          line-height: 20px;
        }
        p {
          color: #637381;
          font-family: Helvetica;
          font-size: 14px;
          line-height: 20px;
        }
      }
      .product-thumbnail {
        text-align: center;
        img {
          width: 47px;
        }
      }
      .product-remove {
        position: relative;
        &:after {
          content: '';
          display: table;
        }
        a.remove {
          float: right;
          font-size: 0;
          line-height: 0;
          height: 20px;
          width: 16px;
          padding: 0;
          position: relative;
          &:hover {
            background: transparent;
          }
          &:before {
            content: '\f014';
            font: normal normal normal 14px/1 FontAwesome;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-size: 18px;
            color: #919EAB;
            position: absolute;
            left: 0;
          }
        }
      }
      .product-price {
        width: 136px;
        .icon_x {
          float: right;
          position: relative;
          top: 3px;
          color: #637381;
          font-family: Helvetica;
          font-size: 14px;
          line-height: 20px;
        }
      }
      .product-quantity {
        width: 106px;
      }
      .product-subtotal {
        width: 115px;
        padding: 16px 20px;
      }
      .woocommerce-Price-amount {
        color: #212B36;
        font-family: Helvetica;
        font-size: 14px;
        line-height: 20px;
      }
      .actions {
        padding: 16px 20px;
        .coupon {
          margin-bottom: 15px;
          p {
            color: #212B36;
            font-family: "SF Pro Text", sans-serif;
            text-align: left;
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 0;
          }
          .input-text {
            height: 38px;
            width: 311px;
            border: 1px solid #C4CDD5;
            border-radius: 3px;
            background-color: #FFFFFF;
            padding-left: 12px;
            color: #919EAB;
            font-family: "SF Pro Text", sans-serif;
            font-size: 14px;
            line-height: 20px;
            margin-right: 20px;
          }
          .button {
            width: auto;
          }
        }
        .total_price {
          width: 285px;
          float: right;
          text-align: left;
          p {
            color: #212B36;
            font-family: Helvetica;
            font-size: 14px;
            line-height: 20px;
          }
          p:first-of-type {
            padding-left: 49px;
            margin: 0;
            padding-bottom: 10px;
            border-bottom: 1px solid #DFE3E8;
          }
          p:last-of-type {
            padding-left: 67px;
            font-weight: bold;
            padding-top: 11px;
          }
          span {
            float: right;
          }
        }
      }
      td.text-right {
        padding: 16px 20px 0;
        a.button:last-of-type {
          background-color: #8DC63F;
          color: #fff;
          border: 1px solid #8DC63F;
        }
        a {
          margin-bottom: 16px;
        }
      }
    }
    /* end */
    .btn-cart {
      border-radius: 25px;
      font-family: Helvetica;
      font-size: 15px;
      line-height: 18px;
      text-align: center;
      text-transform: uppercase;
      background-color: #8DC63F !important;
      color: #fff;
      border: 1px solid #8DC63F !important;
      font-weight: normal;
      padding: 8px 45px;
      &:hover {
        color: inherit;
        background: transparent;
      }
    }
    .btn-cart-back {
      border: 1px solid #979797 !important;
      border-radius: 25px;
      color: #637381 !important;
      font-family: Helvetica;
      font-size: 15px;
      line-height: 18px;
      text-align: center;
      text-transform: uppercase;
      background: transparent !important;
      font-weight: normal;
      padding: 8px 45px;
      &:hover {
        color: inherit;
        background: transparent;
      }
    }
    .title-woocommerce {
      color: #008BA0;
      font-family: Helvetica;
      font-size: 32px;
      font-weight: bold;
      line-height: 38px;
      margin: 30px 0 20px;
    }
    form {
      .form-row {
        label {
          color: #637381;
          margin-bottom: 0;
          font-family: Helvetica;
          font-size: 14px;
          letter-spacing: -0.22px;
          line-height: 20px;
          display: block;
          width: 100%;
          .required {
            color: #008BA0;
          }
        }
        span.woocommerce-input-wrapper {
          width: 100%;
          input {
            height: 36px;
            width: 100%;
            border: 1px solid #C4CDD5;
            border-radius: 3px;
            background-color: #FFFFFF;
            color: #637381;
            padding: 9px 0 9px 12px;
          }
        }
      }
      .form-row-btn {
        .woocommerce-form__label-for-checkbox {
          margin-left: 20px;
          input {
            visibility: hidden;
            margin-right: 15px;
            &:checked ~ span {

              &:before {
                border: 1px solid #008BA0;
              }
              &:after {
                color: #008BA0;
              }
            }
          }
          span.d-inline {
            position: relative;
            &:before {
              content: '';
              position: absolute;
              height: 16px;
              left: -30px;
              top: 0;
              width: 16px;
              border-radius: 3px;
              background-color: #FFFFFF;
              box-shadow: 0 1px 1px 0 rgba(97,121,133,0.05), 0 1px 1px 0 rgba(64,82,88,0.03), 0 0 0 1px rgba(64,82,88,0.15);
            }
            &:after {
              content: '\f00c';
              font: normal normal normal 14px/1 FontAwesome;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
              color: #fff;
              position: absolute;
              left: -28px;
              top: 3px;
              font-size: 11px;
            }
          }
        }
      }
    }
  }
}
