.woocommerce-cart {
  h1 {
    color: #008BA0;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    line-height: 38px;
    margin: 30px 0 20px;
  }
  .woocommerce {
    table.shop_table {
      border-radius: 3px;
      background-color: #FFFFFF;
      box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);
      border: 0;
      tr {
        border: 1px solid #DFE3E8;
        box-sizing: border-box;
      }
      th {
        color: #637381;
        font-family: Helvetica;
        font-size: 14px;
        line-height: 20px;
        font-weight: normal;
      }
      td, th {
        padding: 16px 0 16px 25px;
        &.product-thumbnail {
          width: 73px;
        }
      }
      .product-name {
        a {
          color: #008BA0;
          font-family: Helvetica;
          font-size: 18px;
          line-height: 20px;
        }
        p {
          color: #637381;
          font-family: Helvetica;
          font-size: 14px;
          line-height: 20px;
        }
      }
      .product-thumbnail {
        text-align: center;
        img {
          width: 47px;
        }
      }
      .product-remove {
        position: relative;
        &:after {
          content: '';
          display: table;
        }
        a.remove {
          float: right;
          font-size: 0;
          line-height: 0;
          height: 20px;
          width: 16px;
          padding: 0;
          position: relative;
          &:hover {
            background: transparent;
          }
          &:before {
            content: '\f014';
            font: normal normal normal 14px/1 FontAwesome;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-size: 18px;
            color: #919EAB;
            position: absolute;
            left: 0;
          }
        }
      }
      .product-price {
        width: 136px;
        .icon_x {
          float: right;
          position: relative;
          top: 3px;
          color: #637381;
          font-family: Helvetica;
          font-size: 14px;
          line-height: 20px;
        }
      }
      .product-quantity {
        width: 106px;
      }
      .product-subtotal {
        width: 115px;
        padding: 16px 20px;
      }
      .woocommerce-Price-amount {
        color: #212B36;
        font-family: Helvetica;
        font-size: 14px;
        line-height: 20px;
      }
      .actions {
        padding: 16px 20px;
        .coupon {
          p {
            color: #212B36;
            font-family: "SF Pro Text", sans-serif;
            text-align: left;
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 0;
          }
          .input-text {
            height: 38px;
            width: 311px;
            border: 1px solid #C4CDD5;
            border-radius: 3px;
            background-color: #FFFFFF;
            padding-left: 12px;
            color: #919EAB;
            font-family: "SF Pro Text", sans-serif;
            font-size: 14px;
            line-height: 20px;
            margin-right: 20px;
          }
        }
        .total_price {
          width: 285px;
          float: right;
          text-align: left;
          p {
            color: #212B36;
            font-family: Helvetica;
            font-size: 14px;
            line-height: 20px;
          }
          p:first-of-type {
            padding-left: 49px;
            margin: 0;
            padding-bottom: 10px;
            border-bottom: 1px solid #DFE3E8;
          }
          p:last-of-type {
            padding-left: 67px;
            font-weight: bold;
            padding-top: 11px;
          }
          span {
            float: right;
          }
        }
      }
      td.text-right {
        padding: 16px 20px;
        a.button:last-of-type {
          background-color: #8DC63F;
          color: #fff;
          border: 1px solid #8DC63F;
        }
      }
    }
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    background: #eee url('../images/arr_number.png') no-repeat 50% 50%;
    width: 6px;
    height: 10px;
    background-size: cover;
    position: relative;
    right: 13px;
    top: 6px;
    opacity: 1;
    -webkit-appearance: none;
    cursor: pointer;
  }
  input[type="number"] {
    border: 1px solid #C4CDD5;
    border-radius: 3px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F9FAFB 100%);
    box-shadow: 0 1px 0 0 rgba(22,29,37,0.05);
    height: 36px;
    text-align: left !important;
    padding-left: 12px;
    width: 65px;
  }
  button.button, a.button, a.button.alt {
    border: 1px solid #979797;
    border-radius: 25px;
    color: #637381;
    font-family: Helvetica;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    background: transparent;
    font-weight: normal;
    padding: 8px 45px;
    &:hover {
      color: inherit;
      background: transparent;
    }
  }
}