.woocommerce-checkout {
  .title-checkout {
    color: #008BA0;
    font-family: Helvetica;
    font-size: 18px;
    line-height: 20px;
    margin: 12px 0 0 20px;
    padding-left: 39px;
    position: relative;
    padding-top: 4px;
    padding-bottom: 14px;
    span {
      color: #FFFFFF;
      left: 0;
      top: 0;
      font-family: Helvetica;
      font-size: 18px;
      position: absolute;
      text-align: center;
      width: 26px;
      height: 26px;
      line-height: 26px;
      z-index: 2;
      &:before {
        position: absolute;
        content: '';
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        height: 26px;
        width: 26px;
        background-color: #008BA0;
        left: 0;
        z-index: -1;
      }
    }
  }
  .woocommerce-billing-fields {
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);
  }
  .woocommerce-billing-fields__field-wrapper {
    border-top: 1px solid #DFE3E8;
    padding: 20px;
    box-sizing: border-box;
    display: table;
    width: 100%;
  }
  .woocommerce form .form-row {
    padding: 0 !important;
    margin-bottom: 15px;
    width: 47%;
    float: left;
    margin-right: 40px;
    &.form-row-wide {
      clear: none;
    }
    &.address-field:not(.update_totals_on_change) {
      margin-right: 0;
      width: 100%;
    }
    &.update_totals_on_change {
      .select2-selection--single {
        height: 36px;
        border: 1px solid #C4CDD5;
        border-radius: 3px;
      }
      .select2-selection__arrow {
        height: 36px;
        b {
          left: 100%;
          margin-left: -20px;
        }
      }
    }
    &:nth-child(even) {
      margin-right: 0;
      float: right;
    }
    label {
      color: #637381;
      margin-bottom: 0;
      font-family: Helvetica;
      font-size: 14px;
      letter-spacing: -0.22px;
      line-height: 20px;
      display: block;
      width: 100%;
      abbr {
        color: #008BA0;
      }
    }
    span {
      width: 100%;
      &.select2-selection__rendered {
        line-height: 36px;
      }
      input {
        height: 36px;
        width: 100%;
        border: 1px solid #C4CDD5;
        border-radius: 3px;
        background-color: #FFFFFF;
        color: #637381;
        padding: 9px 0 9px 12px;
      }
    }
  }
}